<div id="View Root" class="view-root">

    <div id="Name and # of Concepts" class="name-and-concepts-number">

        <p class="concept-name">
            {{this.unit.name}}
        </p>

        <p class="concepts-number">
            {{this.unit.numOfConcepts}} Concepts
        </p>
    </div>

    <div class="button-tray">
        <div >
            <mat-icon class="md-15 edit-icon">edit</mat-icon>
            <p class="edit">
                Edit
            </p>
        </div>

        <div>

            <mat-icon class="md-15 study-icon">auto_stories</mat-icon>
            <p class="study">
                Study
            </p>
        </div>

        <div>

            <mat-icon class="md-15 delete-icon">delete</mat-icon>
            <p class="delete">
                Delete
            </p>
        </div>

        
    </div>

    <div class="take-test">

        <mat-icon class="md-18">fact_check</mat-icon>
        <p>Take test</p>
    </div>

</div>
