<div class="root">

    <div class="progress">

        <app-ss-concept-progress-dot status="done"></app-ss-concept-progress-dot>

        <div class="divider"></div>

        <app-ss-concept-progress-dot status="doing"></app-ss-concept-progress-dot>

        <div class="divider"></div>

        <app-ss-concept-progress-dot status="undone"></app-ss-concept-progress-dot>

    </div>
    <div class="progress-text">
        <p class="progress-text">Definition</p>

        <p class="progress-text">Sub-concepts</p>

        <p class="progress-text">Sub-concepts Order</p>
    </div>

</div>