<!-- app top nar bar-->
<div class="nav-bar-root">
  <div class="nav-bar-menu">
    <a class="app-name">
      TestBuddy
    </a>
  </div>
  
</div>
<!--App side nav and content-->
<mat-sidenav-container>
  <mat-sidenav mode="side" opened position="start">
    <div class="side-nav-menu">
      <!--Home-->
      <div class="side-menu-item" routerLink="/home" routerLinkActive="side-menu-item-active" (isActiveChange)="changeClassesBasedOnActiveFlag('home', $event)">
        <mat-icon [ngClass]="this.homeSideNavIconClass">home</mat-icon>
        <p [ngClass]="this.homeSideNavTextClass">Home</p>
      </div>

      <!--Settings-->
      <div class="side-menu-item" routerLink="/settings" routerLinkActive="side-menu-item-active" (isActiveChange)="changeClassesBasedOnActiveFlag('settings', $event)">
        <mat-icon [ngClass]="this.settingsSideNavIconClass">settings</mat-icon>
        <p [ngClass]="this.settingsSideNavTextClass">Settings</p>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Main Content -->
    <app-error-message-viewer></app-error-message-viewer>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>