<!-- app top nar bar-->
<div class="nav-bar-root">
  <div class="nav-bar-menu">
    <a class="app-name">
      TestBuddy
    </a>
  </div>
</div>
<!--App side nav and content-->
<mat-sidenav-container>
  <mat-sidenav mode="side" opened position="start">
    <div class="side-nav-menu">
      <div class="side-menu-item" routerLink="">
        <mat-icon class="md-24">home</mat-icon>
        <p class="side-menu-item-text">Home</p>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    main contain
    <!-- Routing based on the module that opened (popup/options/tab) -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>