
<!-- app top nar bar-->
<div class="nav-bar-root">
  <div class="nav-bar-menu">
    <a class="app-name">
      TestBuddy
    </a>
  </div>
</div>
<!--App side nav and content-->
<mat-sidenav-container>
  <mat-sidenav mode="side" opened position="start">
    <mat-nav-list>
       <mat-list-item>
         <mat-icon>home</mat-icon>
         <a [routerLink]="" routerLinkActive="active" matLine>Home</a>
       </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    main contain
    <!-- Routing based on the module that opened (popup/options/tab) -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>