<div class="root">

    <div class="concept-name">

        <p class="primary-roboto-body">Concept</p>
        <p class="primary-josefin-sans-heading">Legislative</p>

    </div>
    <div class="concept-progress-options">
        <app-ss-concept-progress></app-ss-concept-progress>
        <div class="options">
            <app-ss-concept-option-box [text]="'Ensures that Canada’s courts interpret laws in a fair and proper way.'" [state]="'missed'"></app-ss-concept-option-box>
    
            <app-ss-concept-option-box [text]="'Develops and implements laws.'" [state]="'wrong-position'"></app-ss-concept-option-box>
    
            <app-ss-concept-option-box [text]="'Debates and passes new laws'" [state]="'correct'"></app-ss-concept-option-box>
        </div>
    </div>

</div>