<div class="root">

    <div class="concept-name">

        <p class="primary-roboto-body">Concept</p>
        <p class="primary-josefin-sans-heading">{{conceptName}}</p>

    </div>
    <div class="concept-progress-options">
        <app-ss-concept-progress></app-ss-concept-progress>
        <div class="options">
            <app-ss-concept-option-box *ngFor="let option of multipleChoiceQuestion.options" [text]="option.text" [state]="option.state" (click)="chooseOption(option)"></app-ss-concept-option-box>
        </div>
    </div>

    <div *ngIf="multipleChoiceQuestion.hasMultipleAnwsers" id="action-button" class="primary-pink-button-and-text">
        <p>Done</p>
   </div>

</div>