<div class="root">

    <div class="concept-name">

        <p class="primary-roboto-body">Concept</p>
        <p class="primary-josefin-sans-heading">{{conceptName}}</p>

    </div>
    <div class="concept-progress-options">
        <app-ss-concept-progress></app-ss-concept-progress>

        <!--For single answer-->
        <div class="options" *ngIf="multipleChoiceQuestion.type === 'single answer' || multipleChoiceQuestion.type === 'multi-answer'">
            <app-ss-concept-option-box *ngFor="let option of multipleChoiceQuestion.options" [text]="option.text"
                [state]="option.state" (click)="chooseOption(option)"></app-ss-concept-option-box>
        </div>

        <!--For drag and drop options (multi-answer)-->
        <div class="options" *ngIf="multipleChoiceQuestion.type === 'ordered question'" cdkDropList [cdkDropListData]="multipleChoiceQuestion.options" (cdkDropListDropped)="optionsDragDropEvent($event)">

            <app-ss-concept-option-box *ngFor="let option of multipleChoiceQuestion.options" [text]="option.text" 
                [state]="option.state" cdkDrag cdkDragPreviewContainer="parent" cdkDragLockAxis="y" [index]="option.getOption()" ></app-ss-concept-option-box>
        </div>
    </div>

    <div *ngIf="readyForUserInput()" id="done-button" class="primary-pink-button-and-text"
        (click)="done()">
        <p>Done</p>
    </div>

    <div class="primary-pink-button-and-text" id="ok-done" *ngIf="multipleChoiceQuestion.marked" (click)="ok()">
        <p>Ok</p>
    </div>

</div>