<div class="root">

    <div class="close-button">
      <mat-icon (click)="delete()">close</mat-icon>
    </div>
    <div class="unit-text">
        <p class="unit-name">
            {{unitToBeDeleteDItem.name}}
          </p>
          <p class="primary-roboto-body">
              deleted
          </p>
      </div>
      <div (click)="undo()" class="primary-pink-button-and-text">
        <p>
            Undo
        </p>
    </div>

    <mat-progress-bar mode="determinate" [value]="counter"></mat-progress-bar>
  </div>