<div id="root-view" class="view-root">
    <div id="details-panel" class="details-panel">
        <p id="page-title" class="page-title">Create a Unit</p>

        <p id="unit-name-label" class="field-labels">Name</p>
        <textarea id="unit-name-field" class="name-field"  [(ngModel)]="unit.name" matInput cdkTextareaAutosize [cdkAutosizeMinRows]="1" [cdkAutosizeMaxRows]="4" (change)="unitDetailsChange()">
        </textarea>


        <p id="unit-description-label" class="field-labels">Description</p>
        <textarea id="unit-description-field" class="description-field" [(ngModel)]="unit.description" matInput cdkTextareaAutosize [cdkAutosizeMinRows]="8" [cdkAutosizeMaxRows]="12" (change)="unitDetailsChange()">
        </textarea>

        <div id="done-button-div" class="done-button-div">
            <div id="done-button" class="done-button" (click)="done()">
                <mat-icon>
                    done
                </mat-icon>
                <p>
                    Done
                </p>
            </div>
        </div>
    </div>
    <div id="concept-map" class="concept-map">
        <div id="close-button-div" class="close-button">
            <mat-icon (click)="closeDialog()" class="md-24 edit-icon">close</mat-icon>
        </div>

        <button id="add-concept-button" class="add-concept-button" mat-mini-fab color="primary" (click)="addConcept()" aria-label="create a unit" >
            <mat-icon class="md-24">add</mat-icon>
          </button>
          <!--Error messages viewer-->
          <app-error-message-viewer></app-error-message-viewer>
          <!-- animation "scaleUpRightEnter" is triggered anything a app-concept-viewer is added to the dom, trigger name and ngFor combine to make this happen-->
          <app-concept-viewer @scaleUpRightEnter *ngFor="let concept of unit.concepts" [statefulConcept]="concept" (conceptChangeEvent)="conceptChanged()" ></app-concept-viewer>
    </div>
</div>