@import "../theme.scss";

div.view-root {
    display: flex;
    flex-direction: row;
    column-gap: 4rem;
    width: fit-content;
    margin: 0px;

    div.concept-card-default {
        display: flex;
        width: fit-content;
        flex-direction: column;
        row-gap: 4px;
        align-items: center;
        padding: 7px;
        padding-bottom: 5px;
        background-color: $light-gray;
        border-radius: 12px;
        

        div.concept-name-and-connect-point {
            display: flex;
            row-gap: 2px;
            align-items: center;
            column-gap: 7px;

            div.concept-name {
                display: flex;
                padding: 5px;
                padding-left: 7px;
                padding-bottom: 3px;
                width: 126px;
                align-items: center;
                background-color: white;
                border-radius: 5px;

                p.concept-name {
                    margin: 0px;
                    font-family: Josefin Sans;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 11px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    color: $primary-grey;
                }
            }

            

           
        }

        div.ellipsis {
            display: flex;
            column-gap: 2px;

            div {
                height: 2px;
                width: 2px;
                background-color: $primary-grey;
                border-radius: 50%;
            }
        }
    }

    div.connection-point {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        height: 17px;
        width: 17px;
        border-radius: 50%;
        background-color: white;
        
        mat-icon.connection-point {
            font-size: 11px;
            width: 12px;
            height: 12px;
            color: $primary-pink;
        }

        mat-icon.connection-point-subconcept {
            font-size: 11px;
            margin-top: 2px;
            width: 12px;
            height: 12px;
            color: $primary-pink;
        }
    }

    div.concept-expanded {
        display: flex;
        flex-direction: column;
        width: fit-content;
        padding: 7px;
        padding-bottom: 0.4rem;
        row-gap: 0.4rem;

        background-color: $light-gray;
        border-radius: 12px;

        div.concept-name-and-order-toggle {
            display: flex;
            column-gap: 10px;
            justify-content: space-between;
            align-items: center;

            textarea.concept-name {
                display: flex;
                padding: 5px;
                padding-left: 7px;
                padding-bottom: 3px;
                width: 200px;
                align-items: center;
                background-color: white;
                border-radius: 5px;
                outline: none;
                border-color: transparent;

                font-family: Josefin Sans;
                font-style: normal;
                font-weight: bold;
                color: $primary-grey;
                font-size: 12px;
                
            }
            .mat-slide-toggle {
                transform: scale(0.6);
            }
        }

        div.subconcept-div-row{
            display: flex;
            column-gap: 0.4rem;
            align-items: center;

            mat-icon.delete-button{
                transform: scale(0.6);
                color: #95A4A6;
                cursor: pointer;
            }

            textarea.sub-concept-name {
                display: flex;
                padding: 5px;
                padding-left: 7px;
                padding-bottom: 3px;
                width: 200px;
                align-items: center;
                background-color: white;
                border-radius: 5px;
                outline: none;
                border-color: transparent;

                font-family: Josefin Sans;
                font-style: normal;
                font-weight: normal;
                color: $primary-grey;
                font-size: 12px;
                
            }

            div.extend-subconcept-button{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1.2rem;
                height: 1.2rem;
                background-color: $primary-pink;
                border-radius: 50%;

                mat-icon.extend-button{
                    margin-right: 0.1rem;
                    transform: scale(0.5);
                    color: white;
                    cursor: pointer;
                }
            }

        }

        div.add-sub-concept-button-row{
            display: flex;
           

            div.add-sub-concept-button{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1.2rem;
                height: 1.2rem;
                background-color: $primary-pink;
                border-radius: 50%;

                mat-icon.add-button{
                    margin-right: 0.1rem;
                    transform: scale(0.5);
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }

    div.extended-subconcepts{
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }
}
