<div class="view-root">
    <div class="concept-card-default">
        <div class="concept-name-and-connect-point">
            <div class="concept-name">
                <p class="concept-name">{{concept.name}}</p>
            </div>
            <div class="connection-point">
                <mat-icon>
                    circle
                </mat-icon>
            </div>
           
        </div>
        <div class="ellipsis">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
