<div id="view-root" class="view-root">

    <p id="storage-heading" class="primary-josefin-sans-title">Storage</p>

    <div id="file-selector-div" class="file-selector-div">

        <p class="primary-roboto-body">Choose a different file to use as storage</p>

        <div id="storage-file-name-div" class="storage-file-name-div">

            <p class="primary-josefin-sans-heading">File:</p>

            <p id="file-name" class="file-name">“{{$dataFileName | async}}”</p>

            <div id="choose-button" class="primary-pink-button-and-text" (click)="getFile()">

                <p>choose</p>
            </div>
        </div>
    </div>
</div>
