<div id="View Root" class="view-root">

    <p id="Units Heading">Units</p>

    <div id="Unit List">
        <app-units-list-item></app-units-list-item>
        <app-units-list-item></app-units-list-item>
        <app-units-list-item></app-units-list-item>
        <app-units-list-item></app-units-list-item>
        <app-units-list-item></app-units-list-item>
        <app-units-list-item></app-units-list-item>
        <app-units-list-item></app-units-list-item>
        <app-units-list-item></app-units-list-item>
        <app-units-list-item></app-units-list-item>
        <app-units-list-item></app-units-list-item>

       
    </div>

    <button id="create-unit-button" mat-mini-fab color="primary" aria-label="create a unit">
        <mat-icon class="md-24">add</mat-icon>
      </button>
</div>
