<div id="view-root" class="view-root">
    <div id="choose-file-text-and-button" class="choose-file-text-and-button">
        <p id="choose-data-file-title" class="title">
            Choose data file
        </p>

        <p id="choose-data-file-text" class="text">
            TestBuddy needs a file to store your user data. To choose a file simply click “choose” and create a <span>.json</span>
            file with any name, for example <span>“test-buddy-data.json”</span>. If you already created a file choose that file.
        </p>

        <div id="choose-button-div" class="primary-pink-button-and-text" (click)="getFile()">
            <p>choose</p>
        </div>

    </div>

    <div id="choose-file-explanation" class="choose-file-explanation">
        <p id="why-title" class="title">Why</p>
        <p id="why-text" class="text">Unit data takes up far more storage space than Chrome extensions are meant to have. You can go to
        <span>“About”</span> for more information on why TestBuddy currently works the way it does.</p>
    </div>
</div>